{% extends 'base.html' %}
{% load static %}
{% block head_content %}
<title>Dashboard</title>
{% endblock head_content %}
{% block container %}
<main >
    
    <div class="content">
        <h1>Dashboard Obras de Formosa</h1>
        <div class="card">
            <h1 class="title-card">Total localizadas </h1>
            <p class="resultado">{{total_obras}}</p>
        </div>
        
        <div class="card">
            <h1 class="title-card">Tecnicas Finalizados</h1>
            <p class="resultado">{{ finalizadas }}</p>    
        </div>
        <div class="card">
            <h1 class="title-card">Ubicadas en Formosa Capital</h1>
            <p class="resultado">{{ obras_formosa }}</p>
        </div>
        <div class="card">
            <h1 class="title-card">Completados parcialmente</h1>
            <p class="resultado">{{obras_parciales}}</p>
        </div>
        <div class="card">
            <h1 class="title-card">Interrumpidas</h1>
            <p class="resultado">{{obras_interrumpidas}}</p>
        </div>
        {% comment %} ______________________________________ {% endcomment %}
        <div class="card">
            <h1 class="title-card">Ideas de obras</h1>
            <p class="resultado">{{obra_ideas}}</p>
        </div>
        <div class="card">
            <h1 class="title-card">Obras en formulacion</h1>
            <p class="resultado">{{obras_formulacion}}</p>
        </div>
        
        <div class="div-button">
            <a href="{% url 'mapa'  %}">
                <button class="btn"><i class="animation"></i>Ver mapa <i class="fa-solid fa-map-location-dot"></i><i class="animation"></i>
                </button>
            </a>
            
        </div>
       
        
        
        
    </div>
  
</main>

{% endblock container %}