{% extends 'base.html' %}
{% block head_content %}

<title>OpenLayers 3 example</title>

{% endblock head_content %}
   
{% block container %}
<h2>Obras de Formosa <i class="fa-solid fa-city"></i></h2>
<section>
    <div  id="map" class="map">
      <div id="popup-filter" class="ol-popup-filter">
        
        <div id="filter-content" class="ol-popup-content-filter">
         <form method="post">
          {% csrf_token %}

          <select class="select-filter" name="selectSector" id="selectSector">

            <option value='0' selected>Sector</option>
            {% for s in sector  %}
            <option value="{{s.id}}">{{s.nombre_sector}}</option>
            {% endfor %}
            
           
          </select>
  
          <select class="select-filter" name="selectLocalidad" id="selectLocalidad">

            <option value='0' selected>Localidad</option>
            {% for l in localidad  %}
            <option value="{{l.id}}">{{l.nombre_localidad}}</option>
            {% endfor %}
            
          </select>
  
          <select class="select-filter" name="selectEstado" id="selectEstado">

            <option value='0'  selected>Estado de Obra</option>
            {% for e in estado  %}
            <option value="{{e.id}}">{{e.estado}}</option>
            {% endfor %}
            
            
          </select>
  
          <select class="select-filter" name="selectOrganismo" id="selectOrganismo">

            <option value='0'  selected>Organismo Financiador</option>
            {% for o in organismo  %}
            <option value="{{o.id}}">{{o.nombre}}</option>
            {% endfor %}
            
           
          </select>

          <button type="submit" id="miBoton" >enviar</button>

         </form>

            

          
           
          
          
        </div>
        
      </div>
    </div>
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content" class="ol-popup-content"></div>
      </div>
    </div>
    
  </section>
 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
         
        </div>
        
      </div>
    </div>
  </div>
  <script>

  //DATOS
  coordenadas = 
        [
            {% for ubi in ubicacion %}
                {
                    'sector':{{ubi.sector_id}},
                    'organismo': {{ubi.organismo_financiador_id}},
                    'estado': {{ubi.estado_obra_id}},
                    'id': {{ubi.id}},
                    'longitud':{{ubi.longitud}}, 
                    'latitud':{{ubi.latitud}}
                    

                },
            {% endfor %}
        ]

    datos_obra =
    [
        {% for ubi in ubicacion %}
            {
                'id': {{ubi.id}},
                'longitud':{{ubi.longitud}}, 
                'latitud':{{ubi.latitud}},
                'nombre':'{{ubi.nombre}}',
                'valor':'{{ubi.valor}}',
                'localidad': '{{ubi.localidad}}'
            },
            
        {% endfor %}       
    
    ]

    filtros_ubicacion = 
    [
      {% for filtro in data  %}
       {
        'id': {{filtro.id}},
        'longitud':{{filtro.longitud}}, 
        'latitud':{{filtro.latitud}},
      
       },
      
      {% endfor %}
    ]
    
    if (filtros_ubicacion.length > 0){
      console.log("LLAMADA AL BOTON")
      filtros_ubicacion.forEach(coordenada => 
      {
        
          ultimaCapa.getSource().clear()
          console.log(coordenada.longitud, coordenada.latitud)
          let marcador = new ol.Feature({
            id: coordenada.id,
            geometry: new ol.geom.Point(
                ol.proj.fromLonLat([coordenada.longitud, coordenada.latitud])
            ),
          });
          marcador.setId(coordenada.id);
          marcador.setStyle(new ol.style.Style({
            image: new ol.style.Circle({
            radius: 9,
            fill: new ol.style.Fill({color: 'black'})
            })
          }));
          filtros.push(marcador);
        
      });

      ultimaCapa = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: filtros, 
        }),
      })
      
      
      map.addLayer(ultimaCapa)
    }
     
 
  
    
  </script>

{% endblock container %}  
