{% extends 'base.html' %}
{% block head_content %}

<title>OpenLayers 3 example</title>

{% endblock head_content %}
   
{% block container %}

<section>
    <div  id="map" class="map">
      <div id="popup-filter" class="ol-popup-filter">
        
        <div id="filter-content" class="ol-popup-content-filter">
        <button type="submit" class="ClearButton" id="buttonFilter"><i class="fa-solid fa-delete-left"></i></button>
        <p id="dato-encontrado">Se encontraron datos <i class="fa-solid fa-check"></i></p> 
        <h2 id="dato-no-encontrado" class="dato-no-encontrado">No hay filtros aplicados <i class="fa-solid fa-xmark"></i></i></h2> 
        <form method="post">
          {% csrf_token %}

          <select class="select-filter" name="selectSector" id="selectSector">

            <option value='0' selected>Sector</option>
            {% for s in sector  %}
            <option value="{{s.id}}">{{s.nombre_sector}} </i></option>
            {% endfor %}
            
           
          </select>
  
          <select class="select-filter" name="selectLocalidad" id="selectLocalidad">

            <option value='0' selected>Localidad</option>
            {% for l in localidad  %}
            <option value="{{l.id}}">{{l.nombre_localidad}}</option>
            {% endfor %}
            
          </select>
  
          <select class="select-filter" name="selectEstado" id="selectEstado">

            <option value='0'  selected>Estado de Obra</option>
            {% for e in estado  %}
            <option value="{{e.id}}">{{e.estado}}</option>
            {% endfor %}
            
            
          </select>
  
          <select class="select-filter" name="selectOrganismo" id="selectOrganismo">

            <option value='0'  selected>Organismo Financiador</option>
            {% for o in organismo  %}
            <option value="{{o.id}}">{{o.nombre}}</option>
            {% endfor %}
            
           
          </select>

          <button type="submit" class="miButton" >Filtrar</button>
          

         </form>
         
            

          
           
          
          
        </div>
        <div id="popup-reference" class="ol-popup-reference">
        
          <div id="reference-content" class="ol-popup-content-reference">
            <p>Referencias</p>
            <span class="ref"><i class="fa-solid fa-circle" style="color: #ff5d5d;"></i> Infraestructura energética</span>
            <span class="ref"><i class="fa-solid fa-circle" style="color: #5f7eff;"></i> Infraestructura hídrica</span>
            <span class="ref"><i class="fa-solid fa-circle" style="color: #48ed9e;"></i> Infraestructura en salud</span>
            <span class="ref"><i class="fa-solid fa-circle" style="color: #d778ea;"></i> Conectividad física</span>
            <span class="ref"><i class="fa-solid fa-circle" style="color: #ffcd5f;"></i> Conectividad digital</span>
            <span class="ref"><i class="fa-solid fa-circle" style="color: #2ba7d8;"></i> Infraestructura productiva</span>
            <span class="ref"><i class="fa-solid fa-circle" style="color: #f25e95;"></i> Infraestructura urbana</span>
            <span class="ref"><i class="fa-solid fa-circle" style="color: #eadf0f;"></i> Infraestructura educativa </span>
            
            
          </div>
        </div>
      </div>
    </div>
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content" class="ol-popup-content"></div>
      </div>
    </div>
    
  </section>
 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
         
        </div>
        
      </div>
    </div>
  </div>
  
  <script>

  //DATOS
  coordenadas = 
        [
            {% for ubi in ubicacion %}
                {

                    'id': {{ubi.id}},
                    'sector':'{{ubi.sector}}',
                    'longitud':{{ubi.longitud}}, 
                    'latitud':{{ubi.latitud}}
                    

                },
            {% endfor %}
        ]
 
  iconos_obras =
  [
    {% for icon in sector %}
        {

            'nombre': '{{icon.nombre_sector}}',
            'ruta': '{{icon.icono}}'
            

        },
    {% endfor %}
  ]


    datos_obra =
    [
        {% for ubi in ubicacion %}
            {
                'id': {{ubi.id}},
                'longitud':{{ubi.longitud}}, 
                'latitud':{{ubi.latitud}},
                'nombre':'{{ubi.nombre}}',
                'valor':'{{ubi.valor}}',
                'localidad': '{{ubi.localidad}}',
                'descripcion': '{{ubi.descripcion}}',
                
            },
            
        {% endfor %}       
    
    ]

    filtros_ubicacion = 
    [
      {% for filtro in data  %}
       {
        'id': {{filtro.id}},
        'sector':'{{filtro.sector}}',
        'longitud':{{filtro.longitud}}, 
        'latitud':{{filtro.latitud}},
      
       },
      
      {% endfor %}
    ]

    var buttonFilter = document.getElementById('buttonFilter');
    buttonFilter.addEventListener("click", function() {
      
      location.href="{% url 'mapa'  %}"
      
    });
    
   
  </script>

{% endblock container %}  