{% extends 'base.html' %}
{% block head_content %}

<title>OpenLayers 3 example</title>

{% endblock head_content %}
   
{% block container %}

<body style="overflow-x: hidden; overflow-y: hidden;">
  <section style="overflow-x: hidden; overflow-y: hidden;">
    <div class="content-btn" style="overflow-x: hidden; overflow-y: hidden;">
     
      
      <button type="submit" class="ClearButton" id="buttonFilter"><i class="fa-solid fa-repeat" style="color: #1558c3;"></i> Reiniciar mapa  </button>
      
      <button class="btn-filtros btn-solicitar" id="filtros" onclick="maximizar_filtros()"><i class="fa-solid fa-filter" style="color: #1558c3;"></i> Filtros </button>
      <button class="btn-filtros btn-solicitar " id="solicitar-excel" onclick="solicitar_datos()"><i class="fa-solid fa-filter" style="color: #1558c3;"></i>Solicitar Excel</button>
      <button class="btn-filtros btn-descargar" id="descargar-excel" onclick="descargar_datos()"><i class="fa-solid fa-filter" style="color: #1558c3;"></i>Descargar Excel</button>
      <div class="div-reference">
        {% for s in sector  %}
          <p style="font-size: 12px;">{{ s.nombre_sector }}: <img  src="/static/{{ s.icono }}" alt="Imagen"></p>
        {% endfor %}
      </div>
      
      <div  id="map" class="map">
        
        <div id="ol-popup-filter" class="ol-popup-filter">
          
          <div id="filter-content" class="ol-popup-content-filter">
            <button type="submit" onclick="minimizar_filtros()"  class="minimizar" >Cerrar</button>
          <p id="dato-encontrado">Se encontraron datos <i class="fa-solid fa-check"></i></p> 
          <h2 id="dato-no-encontrado" class="dato-no-encontrado">No hay filtros aplicados </h2> 
          <form method="post">
            {% csrf_token %}

            <select class="select-filter" name="selectSector" id="selectSector">

              <option value='0' selected>Sector</option>
              {% for s in sector  %}
              <option value="{{s.id}}">{{s.nombre_sector}} </i></option>
              {% endfor %}
              
            
            </select>
    
            <select class="select-filter" name="selectLocalidad" id="selectLocalidad">

              <option value='0' selected>Localidad</option>
              {% for l in localidad  %}
              <option value="{{l.id}}">{{l.nombre_localidad}}</option>
              {% endfor %}
              
            </select>
    
            <select class="select-filter" name="selectEstado" id="selectEstado">

              <option value='0'  selected>Estado de Obra</option>
              {% for e in estado  %}
              <option value="{{e.id}}">{{e.estado}}</option>
              {% endfor %}
              
              
            </select>
    
            <select class="select-filter" name="selectOrganismo" id="selectOrganismo">

              <option value='0'  selected>Organismo Financiador</option>
              {% for o in organismo  %}
              <option value="{{o.id}}">{{o.nombre}}</option>
              {% endfor %}
              
            
            </select>

            <button type="submit" class="miButton" >Filtrar</button>
            
            

          </form>
          
              

            
            
            
            
          </div>
          
        </div>
      </div>
      <div id="popup"  class="ol-popup" >
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content" class="ol-popup-content" style="max-height:290px;" ></div>
        </div>
      </div>
    </div>  
  </section>
 

  
  <script>

  //DATOS
  function obtenerCoordenadas(){
    coordenadas = 
      [
          {% for ubi in ubicacion %}
              {

                  'id': {{ubi.id}},
                  'sector':'{{ubi.sector}}',
                  'longitud':{{ubi.longitud}}, 
                  'latitud':{{ubi.latitud}}
                  

              },
          {% endfor %}
      ]

    return coordenadas

  }
  
  function obtenerIconos(){
    iconos_obras =
      [
      {% for icon in sector %}
        {

            'nombre': '{{icon.nombre_sector}}',
            'ruta': '{{icon.icono}}'
            

        },
      {% endfor %}
      ]

    return iconos_obras
  }
  

  function obtenerDatosObra(){
    datos_obra =
      [
        {% for ubi in ubicacion %}
            {
                'id': {{ubi.id}},
                'longitud':{{ubi.longitud}}, 
                'latitud':{{ubi.latitud}},
                'nombre':'{{ubi.nombre}}',
                'valor':'{{ubi.valor}}',
                'sector':'{{ubi.sector}}',
                'localidad': '{{ubi.localidad}}',
                'descripcion': '{{ubi.descripcion}}',
                'estado':'{{ubi.estado_obra}}',
                'periodo':'{{ubi.periodo_ejecucion}}'
                
                
            },
            
        {% endfor %}       

      ]

    return datos_obra
  }
 
  function obtenerDatosFiltrados(){
    filtros_ubicacion = 
      [
        {% for filtro in data  %}
        {
          'id': {{filtro.id}},
          'sector':'{{filtro.sector}}',
          'longitud':{{filtro.longitud}}, 
          'latitud':{{filtro.latitud}},

        },

        {% endfor %}
      ]

    return filtros_ubicacion

  }

  obtenerCoordenadas()
  obtenerDatosFiltrados()
  obtenerDatosObra()
  obtenerIconos()

  var buttonFilter = document.getElementById('buttonFilter');
    buttonFilter.addEventListener("click", function() {
      localStorage.clear();
      location.href="{% url 'mapa'  %}"
      
  });
    
   
  </script>

{% endblock container %}  