<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                {% if request.user.is_superuser %}
                        <div class="sb-sidenav-menu-heading">Administrador</div>
                        <a class="nav-link" href="{% url 'dashboard' %}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-gauge"></i></div>
                            Panel
                        </a>
                        <a class="nav-link" href="{% url 'mapa' %}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-map"></i></div>
                            Mapa
                        </a>
                        <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-lock"></i></div>
                            Sitio admin
                        </a>
                        
                
                {% endif %}
                {% if user.is_authenticated == True %}
                
                    <div class="sb-sidenav-menu-heading">Opciones de obras</div>
                    <a class="nav-link" href="{% url 'listado-obras' %}">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-spinner"></i></div>
                        Actualizar Obras
                    </a>
                    <a class="nav-link" href="{% url 'formulario' %}">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-plus"></i></div>
                        Nueva obra
                    </a>
                    
                    
                    <div class="sb-sidenav-menu-heading">Sesion</div>
                    <a class="nav-link" href="{% url 'logout-obras' %}">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-right-from-bracket"></i></div>
                        Cerrar sesion
                    </a>
                    </div>
                  
                {% endif %}
                {% if user.is_authenticated != True %}
                    <div class="sb-sidenav-menu-heading">Sesion</div>
                    <a class="nav-link" href="{% url 'login-obras' %}">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-right-from-bracket"></i></div>
                        Iniciar sesion
                    </a>
                    </div>
                {%endif%}
               
                
                
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">En sesion activa:</div>
            {{ request.user}}
        </div>
    </nav>
</div>