{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
   <link href="{% static 'admin/css/styles.css' %}" rel="stylesheet" />

  <title>Solicitud de usuario</title>
</head>
<body>
    <main class="main-class" >
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8" style="margin-top:5em">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  
                  <div class="card-header"><h3 class="text-center font-weight-light my-4">Solicitar usuario nuevo</h3>
                    
                        <p class="p-info-alta">Se solicita un correo debido a que luego se mandara la informacion de acceso mediante ese medio.</p>
          
                  </div>
                  <div class="card-body">
                      <form role="form" method="POST" enctype="multipart/form-data" action="{% url 'nuevo-usuario'  %}">
                        {% csrf_token %}
                        
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li
                                        {% if message.tags %} 
                                            class="{{ message.tags }}"
                                        {% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="row mb-12 ">
                              <div class="col-md-12 div-add-cartel">
                                <div class="form-floating">
                                    <input class="form-control" type="text" name="nombre_dependencia" />
                                    <label for="inputFirstName">Nombre de la dependencia</label>
                                </div>
                              </div>
                              <div class="col-md-12 div-add-cartel">
                                <div class="form-floating">
                                  <input type="text" class="form-control" name="correo">
                                  <label for="inputFirstName">Correo electronico</label>
                                </div>
                              </div>
                              <div class="col-md-12 div-add-cartel">
                                <div class="form-floating">
                                  <input type="text" class="form-control" name="comentario">
                                  <label for="inputFirstName">Comentario</label>
                                </div>
                              </div>
                                
                              
                            
                            
                            <div class="text-center">
                              <button type="submit" style="background: #1558c3; margin-top:2em" class="btn btn-primary">Solicitar</button>
                            </div>
                          
                        </div>
                      </form><!-- End Horizontal Form -->
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
</body>
</html>